* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #FAFAFA;
    margin: 0 auto;
}
header {
    background: #E3462D;
    justify-content: center;
    align-items: center;
    height: 69px;
    margin-bottom: 77px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
main {
    width: 85vw;
    margin: 0 auto;
}
header h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;   
    margin: 0px auto;
    
}
.header-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-pag-quizz  {
    position: relative;
    margin-top: 25px;
    margin-left: 0px;
}
.header-pag-quizz img{
    position: absolute;
    width: 99vw;
    height: 227px;
}
.header-pag-quizz h3 {
    position: absolute;
    padding-top: 60px;
    padding-left: 400px;
    margin: 0 auto;
    top:0px;
    left: 0px;
    width: 100vw;
    height: 227px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    color: #FFFFFF;
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.57)), url(image.png);
}
.criar-quizz {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 181px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;
}
.criar-quizz h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9B9;
    margin-bottom: 34px;
}
.criar-quizz button {
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
    margin-left: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #EC362D;
}

.criar-quizz button:hover{
    background-color: #e4c4be; 
    transition: 0.5s;
    cursor: pointer;
}
.removendo-tela {
    display: none;
}
/* Final das classes referentes ao cabeçalho */

/* Tela 1: Renderizando a lista de Quizzes*/
.quizzes-api {
    margin-top: 71px;
   
}
.quizzes-api h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;   
}
.lista-quizzes {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.lista-quizzes img {
    width: 340px;
    height: 181px;
    margin: 10px 5px;
    background-image: linear-gradient(black, white);
    border-radius: 5px;
    position: relative;
}
.quiz {
    position: relative;
}
.quiz h3 {
    position: absolute;
    bottom: 0px;
    left:0px; 
    padding-bottom: 15px;
    height: 181px;
    width: 340px;
    margin: 10px 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(image.png);
}
.lista-quizzes h3 {  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    color: #FFFFFF;
}
/* Tela 2 - Página de um Quizz */
.perguntas {
    width: 55vw;
    margin: 250px auto 0px auto;
}
.imagens-perguntas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.-tela-3-2 {
    margin-top: 100px;
}
.pergunta2 {
    margin-top: 100px;
}
.pergunta0-titulo {
    height: 137.99px;
    background: #434CA0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 18px;    
}
.pergunta1-titulo {
    height: 137.99px;
    background: #434CA0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 18px;    
}
.pergunta2-titulo {
    height: 137.99px;
    background: #A0438D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 18px;    
}
.pergunta3-titulo {
    height: 137.99px;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 18px;    
}
.conteudo-pergunta img {
    width: 27vw;
    height: 20vw;
}
.conteudo-pergunta h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 5px;
    word-break: break-word;
}
.resultado-quizz {
    margin-top: 30px;
}
.resultado-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC362D;
    height: 99px;
    margin-bottom: 10px;
}
.resultado-titulo h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;   
    color: #FFFFFF;
}
.resultado-conteudo {
    display: flex;
    margin-bottom: 30px;
}
.resultado-conteudo-imagem {
    width: 50vw;
    height: 273px;
}
.resultado-conteudo-imagem img {
    width: 27vw;
    height: 20vw;
}
.resultado-conteudo-texto {
    width: 50vw;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
    flex-wrap: wrap;
    word-break: break-word;
}
.resultado-butoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reiniciar-quizz {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260.38px;
    height: 52px;
    left: 591px;
    top: 953px;
    background-color: #EC362D;
    border-radius: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
    margin-bottom: 10px;
}
.voltar-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260.38px;
    height: 52px;
    left: 591px;
    top: 953px;
    background-color: Transparent;
    border: none;
    border-radius: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #818181;
    margin-bottom: 10px;
}

/* Tela 3.1 - Info básica do Quiz */
.tela-3-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
}
.tela-3-1 h1{
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 30px;
}
.tela-3-1 button{
    background-color: #EC362D;
    color: #FFF5F4;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 54px;
    margin-top: 85px;
    border:none;
    cursor: pointer; 
}
.infoQuizz{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* height: 256px; */
    width: 600px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

}
.infoQuizz input{
    padding: 15px;
    width: 80vw;
    height: 46px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    outline: 0;
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 8px;

}
.infoQuizz input::placeholder{
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
}
.infoQuizz input:invalid{
    border: 1px solid red;
}

/*=============== Tela 3.2 - Perguntas do Quiz ====================*/
.tela-3-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    width: 80vw;
    
    margin: 0 auto;
}
.tela-3-2 h1{
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 30px;
}

.perguntasQuizz{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* height: 825px; */
    width: 600px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.perguntasQuizz div {
    width: 100%;
    margin: 0 auto;
}
.perguntasQuizz h1,h2{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}
.perguntasQuizz h2{
    margin-top: 30px;
    margin-bottom: 30px;
}
.perguntasQuizz input{
    padding: 15px;
    width: 80vw;
    height: 46px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    outline: 0;
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 5px;
}
.perguntasQuizz input:nth-child(9){
    margin-bottom: 50px;
}
.perguntasQuizz input:nth-child(11){
    margin-bottom: 40px;
}
.perguntasQuizz input::placeholder{
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
}
.perguntasQuizz input:invalid:nth-child(n+1):nth-child(-n+9){
    border: 1px solid red;
}
.pergunta2-tela-3-2{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 75px;
    width: 600px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.pergunta2-tela-3-2 div{
    display: flex;
    align-items: center;
}
.pergunta2-tela-3-2 div h1{
    margin: 0px;
}
.tela-3-2 button{
    background-color: #EC362D;
    color: #FFF5F4;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 54px;
    margin-top: 80px;
    margin-bottom: 80px;
    border:none;
    cursor: pointer; 
}
.colocarCor {
    display: flex;
    width: 80px;
    height: 46px;
}

/* ================Início das classes referentes à tela 3-3======================*/
.tela-3-3 {
    width: 50vw;
    margin: 0px auto;
    
}
.titulo-tela-3-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 43px; 
}
.nivel-1 {
    height: 316px;
    padding: 10px;
    background-color: white;
}
.nivel-1 h4 {
    margin-bottom: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
    
}
.nivel-2 h4 {
    margin-bottom: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
    
}
.nivel-3 h4 {
    margin-bottom: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
    
}
.tela-3-3 input {
    background: #FFFFFF;
    width: 95%;
    padding-left: 10px;
    height: 46px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
    
}

.nivel-2 {
    margin-top:24px;
    padding: 10px;
    background-color: white;
    
}
.nivel-2-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nivel-2 img {
    width: 26px;
    height: 23px;
}

.nivel-3 {
    margin-top:24px;
    padding: 10px;
    background-color: white;

}
.nivel-3 img {
    width: 26px;
    height: 23px;
}
.nivel-3-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.botao-finalizar-quizz {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}
.botao-finalizar-quizz button{
    width: 324px;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
}
.botao-finalizar-quizz h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
   justify-content: center;
    color: #FFF5F4;
    
    
}

/* Fim das classes referentes à tela 3-3 */

/* Início da tela 3.4 - Sucesso do Quizz  */
.titulo-3-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tela-3-4 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
    margin-bottom: 45px;
}
.titulo-3-4 h2 {
    margin-top: 71px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    margin: 0px auto;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
}
footer button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220.32px;
    height: 44px;
    left: 609px;
    top: 524px;
    background: #EC362D;
    border-radius: 15px;
    margin: 0 auto;
}
footer button h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
footer h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #818181;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 10px;
}


/* Início da versão Mobile  */
@media (max-width: 1100px) {
    body {
      max-width: 1100px;
}
    .quizzes-api h2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .lista-quizzes {
        flex-direction: column;
        margin: 0px auto;
        align-items: center;
    }
    .imagens-perguntas {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-pag-quizz h3 {
        padding-left: 150px;
    }
}